<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Input Nilai</button>
        <h1>{{'nilai a : ' + a }}</h1>
        <h1>{{'Rata-rata : ' + range }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

    var app = new Vue({
    el: '#app',
    data () {
        return {
        data: 'vue data'
        }
    },
    beforeCreate () {
        console.log(this.data)
        // undefined, state data belum di inisiasi oleh vue
    }
    });

    </script>
      
</body>
</html>