<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <vm-test v-if="active"></vm-test>
        <button @click="destroyComponent">destroy component!</button>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
Vue.component('vm-test', {
  template: `
    <div id="debug">{{ data }}</div>
  `,
  data () {
    return {
      data: 'component data'
    }
  },
  beforeDestroy () {
    console.log(document.getElementById('debug'))
    // element id 'debug' null, berhasil di destroy oleh parent template
  },
  destroyed () {
    console.log(document.getElementById('debug'))
    // element id 'debug' null, berhasil di destroy oleh parent template
  }
});

var app = new Vue({
  el: '#app',
  data () {
    return {
      active: true
    }
  },
  methods: {
    destroyComponent () {
      this.active = false
    }
  }
});
    </script>
      

</body>
</html>