<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz Vuejs</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app">

    <input type="text" placeholder="tambah nama" v-model:value="newTask" />
    <button @click="addTask">Add</button>
    <button v-on:click="updated">Update</button>
    <ul>
        <li v-for="item in todolists">
            <s v-if="item.done">{{ item.task }}</s>
            <b v-else>{{ item.task }}</b>
            <pre><button onclick="updated">Edit</button></pre>
            <button onclick="updated">Edit</button>
            <button onclick="app.notif(app.name)">Delete</button>
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        newTask: "",
        name : 'ANDA YAKIN ?',
        todolists: [
            {'done': false, task: "Muhammad Mubarok Azzam"},
            {'done': false, task: "Muhammad Mubarok"},
            {'done': false, task: "Muhammad Azzam Mubarok"},
        ]
      },
      methods: {
          addTask: function(){
              this.todolists.push({'done': false, 'task': this.newTask});
              this.newTask = "";
          },
          reRenderDom: function () {
              this.newTask = 1
          },
          removeDom: function () {
              this.newTask = 0
          },
          updated: function () {
            console.log('check updated data', this.newTask)
            // hasilnya 1, this.renderDom berhasil di update
            console.log('check updated re-render', document.getElementById('item.task'))
            // template id 'debug' di kenali
          },
          beforeCreate: function () {
            console.log(this.data)
          },
          beforeDestroy: function () {
            console.log(document.getElementById('item.task'))
            // element id 'debug' null, berhasil di destroy oleh parent template
          },
          beforeDestroy: function () {
            console.log(document.getElementById('item.task'))
            // element id 'debug' null, berhasil di destroy oleh parent template
          },
          destroyComponent: function () {
            this.active = false
          },
          notif(param){
                alert(param)
          },
        }
    })
  </script>
</body>

</html>