<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #ddd;
        }
        label{
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }

    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()"> 
            <p v-if="errors.length">
                <b> Please correct the following errors : </b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>
            <label>Title :</label>
            <input type="text" name="title" ref="title" v-model = "title">
            <label>Description :</label>
            <textarea name="description" ref="description" v-model = "description"></textarea>
            <br><br>
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" @click="updatePost(idEditPost)" value="UPDATE">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadPost)" style="margin-top:5px;">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>
        
         
        </form>

        <br><br>

        <table border=1> 
            <tr v-for="post of posts">
              <td>
                <img width=100 :src="post.photo ? domain + post.photo : 'https://dummyimage.com/600x400/000/fff'" alt="">
              </td>
              <td>
                <b>Title : </b> {{ post.title }} <br>
                <b>Description : </b> {{ post.description }} <br>
              </td>
              <td>
                <button @click="editPost(post)">Edit</button>
                <button @click="removePost(post.id)">Hapus</button>
                <button @click="uploadPhoto(post)">Upload Foto</button>
              </td>
            </tr>
         </table>
      
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el : '#app',
            data : {
                title : '',
                description : '',
                errors : [],
                domain : "http://127.0.0.1:8000",
                posts : [],
                buttonStatus : "submit",
                idEditPost : null,
                idUploadPost : null,

            },
            methods :{
                validationForm : function(){
                    //let error = 0
                    this.errors = []

                    if(this.title.length < 5){
                        //error++
                        this.errors.push('Title minimal 5 karakter')
                        this.$refs.title.focus()
                        //alert('Title Minimal 5 karakter')
                    }
                    if(this.description.length >100){
                        //error++
                        this.errors.push('Description tidak boleh lebih dari 100 karakter')
                        this.$refs.description.focus()
                        //alert('Description tidak boleh lebih dari 10 karakter')
                    }

                    if (this.errors.length === 0){
                        alert('Terima kasih anda telah mengisi data dengan benar')
                    }
                    },

                    clearForm : function(){
                        this.title = ''
                        this.description = ''
                        this.buttonStatus = 'submit'
                    },

                    getPosts : function(){
                        const config = {
                            method : "get",
                            url : `${this.domain}/api/post`
                        }

                        axios(config)
                            .then((response) => {
                                console.log(response.data.data)
                                this.posts = response.data.data
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    },

                    submitForm : function(){
                        this.validationForm()

                        if(this.errors.length === 0){
                            let formData = new FormData()
                            formData.append('title',this.title)
                            formData.append('description',this.description)

                            const config = {
                                method : "post",
                                url : `${this.domain}/api/post`,
                                data : formData
                            }

                            axios(config)
                                .then((response) => {
                                    this.clearForm()
                                    this.getPosts()
                                    alert(response.data.message)
                                })
                                .catch((error) => {
                                    console.log(error)
                                })
                        }
                    },

                    removePost : function(id){
                        const config = {
                            method : "post",
                            url : `${this.domain}/api/post/${id}`,
                            params : {_method : "DELETE"}
                        }

                        axios(config)
                            .then((response) => {
                                this.getPosts()
                                alert(response.data.message)

                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    },

                    editPost : function(post){
                        this.title = post.title
                        this.description = post.description
                        this.buttonStatus = 'update'
                        this.idEditPost = post.id

                    },

                    updatePost : function(id){
                        this.validationForm()

                        if(this.errors.length === 0){
                            let formData = new FormData()
                            formData.append('title',this.title)
                            formData.append('description',this.description)

                            let config = {
                                method : 'post',
                                url : `${this.domain}/api/post/${id}`,
                                params : {_method : "PUT"},
                                data : formData
                            }

                            axios(config)
                                .then((response) => {
                                    this.clearForm()
                                    this.getPosts()
                                    alert(response.data.message)
                                })
                                .catch((error) => {
                                    console.log(error)
                                })
                        }
                    },

                    uploadPhoto : function(post){
                        this.title = post.title
                        this.description = post.description
                        this.buttonStatus = 'upload'
                        this.idUploadPost = post.id
                    },

                    submitPhoto : function(id){
                        let file = this.$refs.photo.files[0]

                        let formData = new FormData()
                        formData.append('photo',file)

                        let config = {
                            method : "post",
                            url : `${this.domain}/api/post/${id}/upload-photo`,
                            data : formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getPosts()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }

                },
                created(){
                        this.getPosts()
                    }
                
        })
    </script>

</body>
</html>