<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 5 Jawaban</title>
</head>
<body>
    <div id="app">

        <div class="formInput">
            <input type="text" v-model="formUser" v-bind:id="rawId | formatId">
            <button @click="addUser" v-if="!buttonEditStatus">Add</button>
            <button @click="updateUser" v-if="buttonEditStatus">Update</button>
        </div>

        <div class="userList">
            <ul v-for = "(user , index) in reverseUsers">
                <li :key="index">
                    <!--{{ index + "). " + user.name}}-->
                    {{user.name}} ||
                    <button @click="editUser(index)">Edit</button>
                    <button @click="deleteUser(index)">Delete</button>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el : '#app',
            data : {
                users : [ //memanngil dengan v-for
                    {name : "Kalkulus Dasar"},
                    {name : "Fisika Dasar"},
                    {name : "Aljabar Linier Elementer"},
                    {name : "Aljabar Abstrak"},
                    {name : "Algoritma Pemrograman"},
                ],
                formUser : '',
                buttonEditStatus : false,
                idSelected : null,
                formatId : false,
            },
            computed : {
                reverseUsers : {
                    get : function(){
                        return this.users.slice().reverse()
                    },
                    set : function(value){
                        this.users = value.slice().reverse()
                    }
                }
            },
            methods : {
                addUser : function() {
                    this.users.push(
                        {name : this.formUser}
                    )
                    this.formUser = ''
                },
                editUser : function(id){
                    this.formUser = this.reverseUsers[id].name
                    this.buttonEditStatus = true
                    this.idSelected = id
                },
                updateUser : function(){
                    this.reverseUsers[this.idSelected].name = this.formUser
                    this.formUser = ''
                    this.buttonEditStatus = false
                },
                deleteUser : function(id){
                    let confirmation = confirm("Are You Sure ?")

                    if(confirmation){
                        this.reverseUsers = this.reverseUsers.filter(function(item, index){
                            return index != id
                        })
                    }
                }
            },
            filters: {
                capitalize: function (value) {
                    if (!value) return ''
                    value = value.toString()
                    return value.charAt(0).toUpperCase() + value.slice(1)
                }
            },
            
        })
    </script>
</body>
</html>