<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #ddd;
        }
        label{
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }

    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()"> 
            <p v-if="errors.length">
                <b> Please correct the following errors : </b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>
            <label>Title :</label>
            <input type="text" name="title" ref="title" v-model = "title">
            <label>Description :</label>
            <textarea name="description" ref="description" v-model = "description"></textarea>
            <input type="submit" value="SUBMIT">
        </form>
        {{ msg }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el : '#app',
            data : {
                title : '',
                description : '',
                errors : [],

            },
            methods :{
                submitForm : function(){
                    //let error = 0
                    this.errors = []

                    if(this.title.length < 5){
                        //error++
                        this.errors.push('Title minimal 5 karakter')
                        this.$refs.title.focus()
                        //alert('Title Minimal 5 karakter')
                    }
                    if(this.description.length >10){
                        //error++
                        this.errors.push('Description tidak boleh lebih dari 10 karakter')
                        this.$refs.description.focus()
                        //alert('Description tidak boleh lebih dari 10 karakter')
                    }

                    if (this.errors.length === 0){
                        alert('Terima kasih anda telah mengisi data dengan benar')
                    }
                    }
                }
        })
    </script>

</body>
</html>