<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Input Nilai</button>
        <h1>{{'nilai a : ' + a }}</h1>
        <h1>{{'Rata-rata : ' + range }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

    var vm = new Vue({
        el: '#app',
        data: {
            a1 : 0,
            a2 : 0,
            a3 : 0,
            a4 : 0,
            a : 0,
            range : 0 ,
        },
        methods : {
            openForm : function(){
                this.a1 = prompt("masukkan Nilai a1 ")
                this.a2 = prompt("masukkan Nilai a2 ")
                this.a3 = prompt("masukkan Nilai a3 ")
                this.a4 = prompt("masukkan Nilai a4 ")
                this.a = this.a1 + this.a2 + this.a3 + this.a4 
                this.range = (this.a)/4
            },
            computed : {
            range : function(){  
                this.range = this.a1 + this.a2 + this.a3 + this.a4 
            }
        }
        }
      })

    </script>
      
</body>
</html>