<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="teks" v-bind:value="message"><!--one way data binding-->
        <br>
        <input type="teks" v-model:value="message1"><!--two way data binding-->
        <p>{{message}}</p>
        <p>{{message1}}</p> 
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
       var app = new Vue({
        el: '#app',
        data: {
            message : "jangan lupa makan",
            message1 : "jangan lupa minum"
            }
        })
    </script>
      

</body>
</html>