<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.notif(vm.name)">Click Me</button>
        <button onclick="vm.c(7)">Click Me</button>
        {{a}}
      </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        var vm = new Vue({
        el: '#app',
        data: {
            a : 1,
            name : 'Muhammad Azzam'

        },
        computed : {
            b(){
                return this.a
            },
        },
        methods : {
            c(angka){
                this.a = this.a + angka
            },
            notif(param){
                alert(param)
            }
        }


      })


    </script>
</body>
</html>