<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{fullName}}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

    var vm = new Vue({
        el: '#app',
        data: {
            pertama : 'Tuanku',
            kedua : 'Imam',
            ketiga : 'Bonjol',
        },
        computed : {
            fullName: {
                get : function(){
                    return `${this.pertama} ${this.kedua} ${this.ketiga}`
                },
                set : function(params){
                  let arr = params.split(' ')
                  this.pertama = arr[0]
                  this.kedua = arr[1]  
                  this.ketiga = arr[2]
                }
            }
        }
        
      })

    </script>
      

</body>
</html>