<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!--<p>{{'Pesan : ' + tag_html}}</p>
        <p>{{`number * 20 = ${number*20}`}}</p>
        <p>{{ test ? 'YES' : 'NO'}}</p>
        <p>{{ tag_html.split('').reverse().join('')}}</p>
        -->
        <!-- tidak boelh statement-->


      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        var template = 
        `<div>
            <h1>{{tag_html}}</h1>
            <h2>{{author}}</h2>
        </div>`

        var vm = new Vue({
        el: '#app',
        data: {
          tag_html: 'malam yang dingin',
          number : 20000,
          test : true,
          array : [1,2,4,3],
          author:'-azzam ganteng-',
        },
        template : template
        
      })

    </script>
      

</body>
</html>