<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <select v-model="selected">
                <option disabled value="">Please Select One</option>
                <option v-for="item in options" v-bind:value="item.value">
                  {{ item.text }}
                </option>
              </select>
              <span>Selected: {{ selected }}</span>
              <br>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el : '#app',
            data : {
                selected: '',
                options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
    ]
  },
})
    </script>
</body>
</html>