<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app1">
        <component-a 
        v-for="blog in blogs" 
        :blog="blog">
    </component-a>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>

        var ComponentA = {
            template : `
            <div>
                <h1>{{blog.title}}</h1>
                <p>{{blog.content}}</p>
            </div>
            `,

            data(){
                return {
                    pesan : 'form mr.sandman dto '
                }
            },
            props :['blog']
        }

        const vm = new Vue({
            el : '#app1',
            components : {
                'component-a' : ComponentA,
            },

            data : {
                blogs : [
            {
                title : 'SandMan',
                content : 'ini conten sandman'
            },
            {
                title : 'logness',
                content : 'ini conten logness'
            },

            ]
            }
            
        })

    </script>

</body>
</html>