<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app1">
    <component-a>
        <template v-slot:title = "propsSlot">
            {{propsSlot.blogs[1].title}}
        </template>
        <template v-slot:description = "propsSlot">
            {{propsSlot.blogs[1].description}}
        </template>
    </component-a>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>

        var ComponentA = {
            template : `
            <div>
                <b>Judul</b> : <slot name="title" v-bind:blogs="blogs" >{{blogs[0].title}}</slot>
                <br>
                <b>Deskripsi</b> : <slot name="description" v-bind:blogs="blogs">{{blogs[0].description}}</slot>
            </div>
            `,

            data(){
                return {
                    blogs : [
                        {
                            title : 'Spiderman tom',
                            description : 'spiderman cool'
                        },
                        {
                            title : 'Captain Indonesia',
                            description : ' best Captain Indonesia'
                        },
                    ]
                    
                }
            },
        }

        const vm = new Vue({
            el : '#app1',
            components : {
                'component-a' : ComponentA,
            },
        })

    </script>

</body>
</html>